*{
  margin:0;
  padding:0;
  border-collapse:collapse;
}

html, body {
	margin:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#555555;
}

#wrapper {
	height:auto !important;
	height:100%;
	min-height:100%;
	min-width:800px;
	background:#777;
	background:url(../images/stone_bg.png);
}

#top{
	height:192px;
	position:absolute;
	width:100%;
	top: 256px;
	background: url(../images/dirt_bg.png) repeat-x;
}

#header {
	height:256px;
	background: url(../images/header.jpg) repeat-x;
}
#logo {
	width:350px;
	height:200px;
	margin:25px auto 0;
	background:url(../images/logo.png) no-repeat;
	display:block;
}

#main{
	position:relative;
	width:960px;
	margin:48px auto;
}
#right {
	float:right;
	width:300px;
	overflow:hidden;
	color: #fff;

}

#right .column {
	color: #fff;
}

#right .pechkaoff{
	height:96px;
	width:112px;
	background: url(../images/pechkaoff.png) no-repeat;
}

#right .pechkaon{
	height:96px;
	width:104px;
	background: url(../images/pechkaon.gif) no-repeat;
}

#right .bg-tl{
	height:16px;
	width:32px;
	float:left;
	background:url(../images/topl.png) no-repeat;
}

#right .bg-tr{
	margin-left:32px;
	height:16px;
	background:url(../images/topr.png) repeat-x;
}

#right .bg-cl{

background:url(../images/contentl.png) repeat-y;
}

#right .content{
	margin-left:32px;
	padding:0px 15px 15px;
	background:url(../images/content.png);
}

#right  .content  input.field, select.field{
	width: 150px;
	border:1px #1A1A1A solid;
	background:#414141;
	color:#fff;
}

#right .content input.button{
	width:80px;
	height:30px;
	margin:10px 0px 0px;
	cursor:pointer;
	border:none;
	text-align:center;
	font-weight: bold;
	background:url(../images/button.png) no-repeat;
}

#right .content input.regbutton{
	width:160px;
	height:30px;
	margin:10px 0px 0px;
	cursor:pointer;
	border:none;
	text-align:center;
	font-weight: bold;
	background:url(../images/regbutton.png) no-repeat;
}

#right .content input.regbutton2{
	width:150px;
	height:30px;
	margin:10px 0px 0px;
	cursor:pointer;
	border:none;
	text-align:center;
	font-weight: bold;
	background:url(../images/regbutton2.png) no-repeat;
}

#right .content input.dlbutton{
	width:230px;
	height:30px;
	margin:10px 0px 0px;
	cursor:pointer;
	border:none;
	text-align:center;
	font-weight: bold;
	background:url(../images/dlbutton.png) no-repeat;
}

#right  .bg-bl{
	float:left;
	height:32px;
	width:32px;
	background:url(../images/bottoml.png) no-repeat;
}
#right .bg-bc{
	height:32px;
	margin:0px 32px;
	background:url(../images/bottomc.png) repeat-x;
}
#right  .bg-br{
	float:right;
	height:32px;
	width:32px;
	background:url(../images/bottomr.png) no-repeat;
}

#left {
	margin-right:340px;
	padding: 15px;
	color:#fff;
	background:url(../images/transparent_bg.png);
}

#footer {
	height:64px;
	margin-top:-64px;
	background:url(../images/footer.png);
}

h1 {
	font-size: 1.4em;
	margin: 0;
	color: white;
}

h2{
	font-size: 1.1em;
	margin: 0;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.textarea {
	border:1px #1A1A1A solid;
	background:#414141;
	color:#fff;
}

a, a:visited {color:#FFCC33;	text-decoration:none; outline:none;}
a:hover{text-decoration:underline;}
.clear {clear:both;}
.err{color:#fff;background:red; text-align:center; padding:5px;}
.ok{color:white;background:green; text-align:center; padding:5px;}
.spacer1px {height:1px;}
.spacer64px {height:64px;}